<!DOCTYPE html>
<html>
<html lang="cz">
<head>
  <title>GIS-STAVINVEX a.s.</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="all">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/script.js"></script>
</head>
<body>
  <div class="container-fluid" style="background-color:red; min-height:90px">
    <div class="navbar-header">
      <a class="navbar-brand" href="http://www.gis-stavinvex.cz/"><img src="/logo.png"></a>
    </div>
  </div>
<div class="row">
<div class="col-sm-4">
      <div id="fotogrametria" class="flip">
        <div class="card"> 
          <div class="face front"> 
            <div class="inner">   
              <img src="/fotogrametria.png">
              <h3>Fotogrametria</h3> 
            </div>
          </div> 
          <div class="face back"> 
            <div class="inner text-center"> 
				<h2>Vstoupit</h2>
            </div>
          </div>
        </div>	 
      </div>
    </div>
  <div class="col-sm-4">
      <div id="3dvisualization" class="flip">
        <div class="card"> 
          <div class="face front"> 
            <div class="inner">             
              <img  src="/mracno.png">
              <h3>Prohlížeč 3D dat</h3> 
            </div>
          </div> 
          <div class="face back"> 
            <div class="inner text-center"> 
              <h2>Vstoupit</h2>
            </div>
          </div>
        </div>	 
      </div>
    </div>
  <div class="col-sm-4">
      <div id="restauracia" class="flip">
        <div class="card"> 
          <div class="face front"> 
            <div class="inner">  
              <img src="/skening.png">
              <h3>Skenování</h3>              
            </div>
          </div> 
          <div class="face back"> 
            <div class="inner text-center"> 
				<h2>Vstoupit</h2>
            </div>
          </div>
        </div>	 
      </div>
    </div>
</div>
</body>
</html>